.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
uploads/entregas/2018/1/seccion_Z-01/grupo_1/entrega_2/Civil-VIb-Filiación-María-Paz-Gatica.pdf
uploads/nominas/1/nomina_ejemplo.xls
uploads/nominas/1/nomina_ejemplo.xls
uploads/nominas/1/nomina_ejemplo.xls
uploads/entregas/2018/1/seccion_Z-01/grupo_0/entrega_4/Estructura_de_informe.pdf
uploads/entregas/2018/1/seccion_Z-01/grupo_0/entrega_2/Memoria_1_2018.pdf
uploads/entregas/2018/1/seccion_Z-01/grupo_0/entrega_4/bootstrap-login-register-forms.zip
uploads/entregas/2018/1/seccion_Z-01/grupo_0/entrega_2/2092157.pdf
uploads/proyectos/1/Sistema_para_automatizar_el_proceso_de_las_evaluaciones_sumativas_del_curso_de_Fundamentos_de_Computación_y_Programación_del_módulo_básico_de_Ingeniería.pdf
uploads/proyectos/1/Sistema_para_automatizar_el_proceso_de_las_evaluaciones_sumativas_del_curso_de_Fundamentos_de_Computación_y_Programación_del_módulo_básico_de_Ingeniería1.pdf
uploads/nominas/2/nomina_1.xls
uploads/nominas/3/nomina_2.xls
uploads/entregas/2018/1/seccion_Z-01/grupo_0/entrega_1/Memoria_FernandoHandal.pdf
